/*Theme Main Css*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

body {
    color: #888;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

button {
    cursor: pointer
}

button:focus {
    outline: 0 !important;
    box-shadow: none !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Condensed", sans-serif;
    color: #2a2a2a;
    line-height: 1.25
}

.h1,
h1 {
    font-size: 50px
}

.h2,
h2 {
    font-size: 26px
}

@media (min-width:768px) {

    .h2,
    h2 {
        font-size: 36px
    }

    .desc h2 {
        font-size: 26px
    }
}

.h3,
h3 {
    font-size: 20px
}

.primary-text {
    color: #6059f6
}

.bg-gray {
    background-color: #f8f8ff;
}

.pb-90px {
    padding-bottom: 60px;
}

@media (min-width:992px) {
    .pb-90px {
        padding-bottom: 90px;
    }
}

.mh-tour {
    max-height: 630px;
}


.header_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: background .4s, all .3s linear
}

.header_area .navbar-right {
    min-width: 200px;
    text-align: right
}

@media (max-width:991px) {
    .header_area .navbar-right {
        margin: 20px 0
    }
}

.header_area .navbar-brand {
    margin-right: 30px;
    padding: 0
}

.header_area .navbar-social {
    min-width: 95px;
    float: right
}

.header_area .navbar-social li {
    margin-right: 12px
}

.header_area .navbar-social li i,
.header_area .navbar-social li span {
    font-size: 13px
}

.header_area .navbar-social li:last-child {
    margin-right: 0
}

.header_area .navbar-social li a:hover i,
.header_area .navbar-social li span {
    color: #6059f6
}

.header_area .menu_nav {
    width: 100%
}

.header_area .navbar {
    background: 0 0;
    border: 0;
    border-radius: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0
}

.header_area .navbar .nav-right {
    min-width: 260px
}

.header_area .navbar .nav li {
    margin-right: 35px
}

.header_area .navbar .nav li a {
    font-family: Roboto, sans-serif;
    color: #2a2a2a;
    text-transform: capitalize;
    font-weight: 500;
    padding: 33px 0;
    display: inline-block
}

.header_area .navbar .nav li a:after {
    display: none
}

.header_area .navbar .nav li.active a,
.header_area .navbar .nav li:hover a {
    color: #6059f6;
    opacity: 1
}

.header_area .navbar .nav li.submenu {
    position: relative
}

.header_area .navbar .nav li.submenu ul {
    border: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    background: #fff
}

@media (min-width:992px) {
    .header_area .navbar .nav li.submenu ul {
        position: absolute;
        top: 120%;
        left: 0;
        min-width: 200px;
        text-align: left;
        opacity: 0;
        transition: all .3s ease-in;
        visibility: hidden;
        display: block;
        border: none;
        padding: 0;
        border-radius: 0;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .4)
    }
}

.header_area .navbar .nav li.submenu ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #eee transparent transparent transparent;
    position: absolute;
    right: 24px;
    top: 45px;
    z-index: 3;
    opacity: 0;
    transition: all .4s linear
}

.header_area .navbar .nav li.submenu ul li {
    display: block;
    float: none;
    margin-right: 0;
    border-bottom: 1px solid #ededed;
    margin-left: 0;
    transition: all .4s linear
}

.header_area .navbar .nav li.submenu ul li a {
    line-height: 45px;
    color: #6059f6 !important;
    padding: 0 30px;
    transition: all 150ms linear;
    display: block;
    margin-right: 0
}

.header_area .navbar .nav li.submenu ul li:last-child {
    border-bottom: none
}

.header_area .navbar .nav li.submenu ul li:hover a {
    background-color: #6059f6;
    color: #fff !important
}

@media (min-width:992px) {
    .header_area .navbar .nav li.submenu:hover ul {
        visibility: visible;
        opacity: 1;
        top: 100%
    }
}

.header_area .navbar .nav li.submenu:hover ul li {
    margin-top: 0
}

.header_area .navbar .nav li:last-child {
    margin-right: 0
}

.header_area .navbar .search {
    font-size: 12px;
    line-height: 60px;
    display: inline-block;
    margin-left: 80px
}

.header_area .navbar .search i {
    font-weight: 600
}

.header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    z-index: 99;
    transform: translateY(70px);
    transition: transform .5s ease, background .5s ease;
    -webkit-transition: transform .5s ease, background .5s ease;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .1)
}

.header_area.navbar_fixed .main_menu .navbar {
    background: #fff
}

.header_area.navbar_fixed .main_menu .navbar .nav li.active a,
.header_area.navbar_fixed .main_menu .navbar .nav li:hover a {
    color: #6059f6
}

@media (min-width:992px) {
    .header_area.white_menu .navbar .navbar-brand img {
        display: none
    }

    .header_area.white_menu .navbar .navbar-brand img+img {
        display: inline-block
    }
}

@media (max-width:991px) {
    .header_area.white_menu .navbar .navbar-brand img {
        display: inline-block
    }

    .header_area.white_menu .navbar .navbar-brand img+img {
        display: none
    }
}

.header_area.white_menu .navbar .nav li a {
    color: #fff
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img {
    display: inline-block
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img+img {
    display: none
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .nav li a {
    line-height: 70px
}

.top_menu {
    background: #ec9d5f
}

.top_menu .float-left a {
    line-height: 40px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 50px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.top_menu .float-left a:last-child {
    margin-right: 0
}

.top_menu .float-right .pur_btn {
    color: #fff;
    line-height: 40px;
    display: block;
    padding: 0 40px;
    font-weight: 500;
    font-size: 12px
}

@media (max-width:1619px) {
    .header_area .navbar .search {
        margin-left: 40px
    }
}

@media (max-width:1199px) {
    .header_area .navbar .nav li {
        margin-right: 28px
    }

    .home_banner_area .banner_inner {
        padding: 100px 0
    }

    .header_area .navbar .tickets_btn {
        margin-left: 40px
    }

    .home_banner_area .banner_inner h2 br {
        display: none;
        font-size: 36px
    }

    .home_banner_area .banner_inner h2 {
        font-size: 36px;
        line-height: 45px
    }
}

@media (max-width:991px) {
    .navbar-toggler {
        border: none;
        border-radius: 0;
        padding: 0;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 23px
    }

    .header_area .navbar {
        background: #d1cff4
    }

    .header_area .navbar li.active a {
        color: #6059f6 !important
    }

    .navbar-toggler[aria-expanded=false] span:nth-child(2) {
        opacity: 1
    }

    .navbar-toggler[aria-expanded=true] span:nth-child(2) {
        opacity: 0
    }

    .navbar-toggler[aria-expanded=true] span:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 7.5px
    }

    .navbar-toggler[aria-expanded=true] span:last-child {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative
    }

    .navbar-toggler span {
        display: block;
        width: 25px;
        height: 3px;
        background: #6059f6;
        margin: auto;
        margin-bottom: 4px;
        transition: all .4s linear;
        cursor: pointer
    }

    .navbar .container {
        padding-left: 15px;
        padding-right: 15px
    }

    .nav {
        padding: 0 0
    }

    .header_top .nav {
        padding: 0
    }

    .header_area .navbar .nav li a {
        padding: 12px 0;
        margin-right: 0;
        display: block;
        border-bottom: 1px solid #ededed33;
        border-radius: 0
    }

    .header_area .navbar .search {
        margin-left: 0
    }

    .header_area .navbar-collapse {
        max-height: 340px;
        overflow-y: scroll
    }

    .header_area .navbar .nav li.submenu ul li a {
        padding: 0 15px
    }

    .header_area .n avbar .nav li {
        margin-right: 0
    }

    .home_banner_area .banner_inner .banner_map_img {
        display: none
    }

    .header_area.navbar_fixed .main_menu .navbar .nav li a {
        line-height: 40px
    }

    .header_area.white_menu.navbar_fixed .main_menu .navbar .nav li a {
        line-height: 40px
    }

    .header_area.white_menu .navbar .nav li a {
        color: #222
    }

    .contact_info {
        margin-bottom: 50px
    }

    .home_banner_area .donation_inner {
        margin-bottom: -30px;
    }

    .home_banner_area .dontation_item {
        max-width: 350px;
        margin: auto';

    }

    .footer_area .col-sm-6 {
        margin-bottom: 30px
    }

    .footer_area .footer_inner {
        margin-bottom: -30px
    }

    .news_widget {
        padding-left: 0
    }

    .home_banner_area .banner_inner .home_left_img {
        display: none
    }

    .header_area .navbar .tickets_btn {
        display: none
    }

    .home_banner_area .banner_inner {
        padding: 70px 0 100px 0
    }

    .left_side_text {
        margin-bottom: 50px
    }

    .price_item {
        max-width: 360px;
        margin: 0 auto 30px
    }

    .price_inner {
        margin-bottom: -30px
    }
}

@media (max-width:767px) {
    .home_banner_area {
        min-height: 500px
    }

    .home_banner_area .banner_inner {
        min-height: 500px
    }

    .home_banner_area .banner_inner {
        margin-top: 0
    }


    .home_banner_area .banner_inner h3 {
        font-size: 30px
    }

    .home_banner_area .banner_inner p br {
        display: none
    }

    .home_banner_area .banner_inner h3 span {
        line-height: 45px;
        padding-bottom: 0;
        padding-top: 0
    }

    .footer-bottom {
        text-align: center
    }

    .footer-bottom .footer-social {
        text-align: center;
        margin-top: 15px
    }

    .made_life_inner .nav.nav-tabs li {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 15px
    }

    .made_life_inner .nav.nav-tabs {
        margin-bottom: -15px
    }

    .made_life_area.made_white .left_side_text {
        margin-bottom: 0;
        margin-top: 30px
    }
}

@media (max-width:575px) {
    .top_menu {
        display: none
    }

    .home_banner_area .banner_inner h2 {
        font-size: 28px;
        line-height: 38px
    }

    .home_banner_area {
        min-height: 450px
    }

    .home_banner_area .banner_inner {
        min-height: 450px
    }

    .home_banner_area .banner_inner img {
        display: none
    }

    .home_banner_area .banner_inner h5 {
        margin-top: 0
    }

    .p_120 {
        padding-top: 70px;
        padding-bottom: 70px
    }

    .main_title h2 {
        font-size: 25px
    }

    .sample-text-area {
        padding: 70px 0 70px 0
    }

    .footer-area {
        padding: 70px 0
    }

    .pad_top {
        padding-top: 70px
    }

    .pad_btm {
        padding-bottom: 70px
    }
}

@media (max-width:480px) {
    .header_area .navbar-collapse {
        max-height: 250px
    }

    .home_banner_area .banner_inner {
        padding: 30px 15px;
        margin-top: 0
    }

    .white_btn {
        display: block
    }

    .home_banner_area .banner_inner h3 {
        font-size: 24px
    }

    .banner_area .banner_inner h2 {
        font-size: 32px
    }

    .testi_item .media .d-flex {
        padding-right: 0
    }

    .testi_item .media .d-flex img {
        width: auto;
        margin-bottom: 15px
    }

    .testi_item .media {
        display: block
    }

    .banner_btn {
        margin-bottom: 20px
    }
}


.bg-shape {
    position: relative
}

.bg-shape::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 595px;
    height: 660px;
    background: url(../img/home/bg-shape-left.png) left center no-repeat;
    background-size: cover;
    z-index: -1
}

@media (max-width:620px) {
    .bg-shape::before {
        display: none
    }
}

.bg-shape::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 755px;
    height: 860px;
    background: url(../img/home/bg-shape-right.png) left center no-repeat;
    background-size: cover;
    z-index: -1
}

@media (max-width:620px) {
    .bg-shape::after {
        display: none
    }
}

.banner-breadcrumb {
    display: inline-block
}

.banner-breadcrumb .breadcrumb {
    background: 0 0;
    padding: 0
}

.banner-breadcrumb .breadcrumb-item {
    padding: .1rem
}

.banner-breadcrumb .breadcrumb-item a {
    text-transform: capitalize;
    color: #fff
}

.banner-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    padding-left: .2rem;
    padding-right: .4rem
}

.banner-breadcrumb .breadcrumb-item.active {
    color: #fff
}


.wpcf7 .nice-select {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
    font-size: 14px;
    color: #999
}

.wpcf7 .nice-select:after {
    right: 25px
}

.wpcf7 .form-control {
    font-size: 14px;
    color: #999;
    padding-left: 20px;
    border: 0;
    height: 50px;
    border-radius: 0
}

.wpcf7 .form-control::placeholder {
    color: #999
}

.wpcf7 .form-control:focus {
    outline: 0;
    box-shadow: none
}

.wpcf7 .input-group-append .input-group-text {
    border: 0;
    padding-right: 20px;
    border-radius: 0;
    background: #fff
}

.wpcf7 .input-group-append i,
.wpcf7 .input-group-append span {
    font-size: 14px;
    color: #999
}

.wpcf7::placeholder {
    color: #999
}


.button {
    display: inline-block;
    background-color: #6059f6;
    color: #fff;
    border-radius: 30px;
    padding: 8px 25px;
    text-transform: capitalize;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

@media (min-width:600px) {
    .button {
        padding: 12px 45px
    }
}

.button:hover {
    background-color: #201aa3;
    color: #fff
}

.button-hero {
    font-weight: 500
}

.button-contactForm {
    border-radius: 5px
}

.button-shadow {
    box-shadow: 0 10px 20px 0 rgba(181, 176, 255, .2)
}

button.button {
    border: 0
}


/* Footer */

.footer-area {
    background: #04091e;
    padding-top: 60px
}

@media (min-width:1000px) {
    .footer-area {
        padding-top: 110px
    }
}

.footer-area .footer-nav li {
    margin-top: 18px
}

.footer-area .footer-nav li a {
    color: #fff
}

.footer-area .footer-nav li a:hover {
    color: #6059f6
}

.footer-area .primary-btn {
    background-color: #6059f6;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    position: relative
}

.footer-area .primary-btn:focus {
    outline: 0
}

.footer-area .primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.footer-area .primary-btn:hover {
    background-color: #6059f6;
    box-shadow: none;
    color: #fff
}

.footer-area .primary-btn:hover span {
    color: #fff;
    right: 20px
}

.footer-area .primary-btn.white {
    border: 1px solid #fff;
    color: #fff
}

.footer-area .primary-btn.white span {
    color: #fff
}

.footer-area .primary-btn.white:hover {
    background: #fff;
    color: #6059f6
}

.footer-area .primary-btn.white:hover span {
    color: #6059f6
}

.footer-area h6 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700
}

.copy-right-text a,
.copy-right-text i {
    color: #6059f6
}

.instafeed {
    margin: -5px
}

.instafeed li {
    overflow: hidden;
    width: 25%;
    margin-bottom: 0 !important
}

.instafeed li img {
    margin: 5px
}

.footer-social {
    text-align: right
}

.footer-social a {
    width: 20px;
    width: 40px;
    display: inline-table;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.footer-social a:hover i {
    color: #6059f6
}

.footer-social i,
.footer-social span {
    font-size: 14px;
    color: rgba(221, 221, 221, .5);
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

@media (max-width:991.98px) {
    .footer-social {
        text-align: left;
        margin-top: 20px
    }
}

.single-footer-widget {
    color: #fff
}

.single-footer-widget input {
    line-height: 38px;
    border: none;
    background: 0 0;
    border: 1px solid #333;
    font-weight: 400;
    color: #999;
    padding-left: 20px;
    width: 80%;
    font-size: 14px;
    display: inline-block;
    border-radius: 0
}

.single-footer-widget input:focus {
    outline: 0;
    box-shadow: none;
    background: 0 0
}

.single-footer-widget input::placeholder {
    font-weight: 400
}

.single-footer-widget .bb-btn {
    background-color: #6059f6;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0;
    cursor: pointer;
    margin-left: -4px
}

@media (max-width:960px) {
    .single-footer-widget .nw-btn {
        margin-top: 20px
    }

    .single-footer-widget .newsletter {
        padding-bottom: 40px
    }
}

.single-footer-widget .info {
    position: absolute;
    margin-top: 3px;
    color: #fff;
    font-size: 14px
}

.single-footer-widget .info.valid {
    color: green
}

.single-footer-widget .info.error {
    color: #6059f6
}

.single-footer-widget::-moz-selection {
    background-color: #6059f6;
    color: #888
}

.single-footer-widget::selection {
    background-color: #6059f6;
    color: #888
}

.single-footer-widget::-webkit-input-placeholder {
    color: #888;
    font-weight: 300
}

.single-footer-widget:-moz-placeholder {
    color: #888;
    opacity: 1;
    font-weight: 300
}

.single-footer-widget::-moz-placeholder {
    color: #888;
    opacity: 1;
    font-weight: 300
}

.single-footer-widget:-ms-input-placeholder {
    color: #888;
    font-weight: 300
}

.single-footer-widget::-ms-input-placeholder {
    color: #888;
    font-weight: 300
}

@media (max-width:991.98px) {
    .single-footer-widget {
        margin-bottom: 45px
    }
}

.single-footer-widget p {
    color: #777
}

.single-footer-widget ul li {
    margin-bottom: 10px
}

.single-footer-widget ul li a {
    color: #777;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.single-footer-widget ul li a:hover {
    color: #6059f6
}

.footer-bottom {
    padding: 18px 0;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, .1)
}

@media (min-width:1000px) {
    .footer-bottom {
        margin-top: 70px
    }
}

.footer-text a,
.footer-text i {
    color: #6059f6
}

/*End Theme Css*/
.admin-bar .header_area {
    margin-top: 32px;
}

.admin-bar .header_area.navbar_fixed .main_menu {
    top: -38px;
}

.single-footer-widget {
    margin-bottom: 50px;
}

.single_meta .tag {
    color: #797979;
    margin: 5px
}

.bread-crumb span {
    margin: 0 5px 0 3px;
    font-size: 13px
}

.overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-feature .feature-icon {
    filter: grayscale(1);
    transition: 0.5s
}

.card-feature:hover .feature-icon {
    filter: grayscale(0);
}


.shape_bg:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top left;
}

.shape_bg:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top right;
}


.shape_bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.nice-select ul li {
    padding-top: 5px !important;
    padding-bottom: 5px !important
}

.children .cat-item:last-child {
    padding-bottom: 0;
}


/*extra*/
.header_area #logo h1 {
    line-height: 0.8
}



.single-sidebar-widget>ul>li {
    padding-top: 15px;
    padding-bottom: 8px;
    border-bottom: 2px dotted #eee;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-sidebar-widget>ul>li:last-child {
    border-bottom: 0;
}

.single-sidebar-widget ul>li>a {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-sidebar-widget>ul>li:hover {
    border-color: #7676ff;
}

.single-sidebar-widget>ul>li:hover a {
    color: #7676ff;
}

.widget_archive,
.widget_categories {
    padding-bottom: 70px !important;
}

.footer-area .single-footer-widget .form-group .col-autos .input-group .input-group-prepend {
    display: none;
}

.footer-area .single-footer-widget .form-group .col-autos .input-group input {
    padding: 0 0 0 20px;
}

.footer-area .single-footer-widget .bb-btn .Subcribe {
    display: none;
}

.single-sidebar-widget .bb-btn span {
    display: none;
}

.footer-social li {
    list-style: none;
    display: inline-block;
}

.cp-btn {
    float: right;
    border-radius: 20px !important;
    padding: 0 30px !important;
}

.pagination {
    text-align: center;
    display: block;
}


.tag-title .p-b-12 {
    margin-top: 20px;
}

.widget_search h4 {
    margin-bottom: 20px;
}


button {
    padding: 7px;
    font-size: 16px;
    margin-left: -5px;
}

div.wpcf7 .ajax-loader {
    display: none;
}

.wpcf7-form-control-wrap {
    width: 89%;
    background: #fff;
}

.search-wrapper .wpcf7-form .form-control {
    border: none;
    font-size: 14px;
    font-weight: 400;
}

.search-wrapper .form-group {
    margin-bottom: 20px
}

.inner-fof {
    display: table;
    height: 100vh;
    width: 100%;
}

.inner-child-fof {
    display: table-cell;
    vertical-align: middle;
}

footer.footer-area.section-gap {
    padding: 25px 0;
}

.footer-bottom {
    padding: 0;
    margin: 0;
    border-top: 0
}

form-control {
    border-radius: 0px;
    font-size: 13px;
    color: #ccc;
    padding: 9px;
    border: 1px solid #ddd;
}

.btn {
    font-size: 1.2rem;
    border-radius: 0;
    background: #7676ff;
    color: #fff;
}

.form-control:focus {
    box-shadow: none;
    outline: none
}

.footer-social li a:before {
    line-height: 30PX;
}

.wpcf7-form p {
    margin: 0;
    padding: 0;
}



.nav-links {
    font-size: 14px;
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0 !important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 5px;
}

.wp-block-archives select {
    display: initial !important;
    visibility: hidden;
}


a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #222222;
}

img {
    height: auto;
}

.single-footer-widget ul {
    list-style: none;
}


.single-footer-widget table#wp-calendar {
    width: 100%;
}

.footer-widget {
    margin-bottom: 40px;
}

.single-footer-widget select {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid #eee;
}

.single-footer-widget select:focus {
    outline-color: #7676ff
}

.single-footer-widget a {
    display: block;
    font-weight: 700;
}

.single-footer-widget {
    font-size: 12px;
    padding: 8px 0px;
    display: block;
    font-weight: bold;
}

.single-footer-widget ul li ul li {
    padding-bottom: 0;
}